= render partial: 'twitter'
.presentation Your New Band's first album:

.album
  %img.cover{src: @band.albums.first.cover_url}
  %label.band= @band.name
  %label.title= @band.albums.first.name

.photo-credits
  Photo by
  = link_to @band.albums.first.cover_photo_by, @band.albums.first.cover_source
  
= button_to "Make a band to me!", new_band_url, :class => 'new-band', :method => :get

