%html
%head
  %title Make a band to me
  = include_stylesheets :app
  = include_javascripts :app
  = csrf_meta_tag
%body
  .logo

  .content
    = yield
    
  .footer
    .explanation
      %p The idea:
      %ul
        %li Go to wikipedia.org and click on 'random page'. The first article's tile wich apears will be your band's name;
        %li Go to quotationspage.com and click on 'random quotes' The last four or five words on the last quote will be your band's first album title;
        %li On flickr.com's 'last 7 days', the first photo that appears will be your first albun's cover.
        %li Put it all togheter.
        
    .references
      %p References:
      %ul
        %li 
          %a.wikipedia{href: 'http://wikipedia.org'} Wikipedia
        %li
          %a.quotations{href: 'http://quotationspage.com'} Quotations Page
        %li
          %a.flickr{href: 'http://flickr.com'} Flickr
        %li
          %a.github{href: 'https://github.com/pirelenito/makeabandtome'} Source Code
          
    .thanks
      %p Thanks to:
      %ul
        %li 
          %a{href: 'http://www.vistaicons.com/icon/i160s0/phuzion_icon_pack.htm'} Vista Icons, for the Speaker on the logo
        %li
          %a{href: 'http://www.dinpattern.com/'} Din Patter, for the background;
        %li My friend Paulo Cesar for the idea.
        
  .copyright== Brought to you by #{link_to 'Paulo Ragonha', 'http://about.me/pirelenito'} and #{link_to 'Felipe Munhoz', 'http://about.me/munhoz'}